* {
  font-family: Montserrat;
  font-size: 29px;
}

h1 {
  font-weight: bold;
  font-size: 53px;
}

h2 {
  font-style: italic;
  text-decoration: underline;
  font-size: 40px;
}

[href] {
  color: silver;
}
